{% include 'header.html' %}

    <div class="container">
        <div class="px-4 py-5 my-5 text-center">
        <img class="d-block mx-auto mb-4 center-image" src="{{url_for('static', filename='images/logo.jpg')}}" height="500" alt="writing_img">
            <h1 class="display-5 fw-bold text-body-emphasis">"Write without <span class="color-font">stopping!!!."</span></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">In a world filled with distractions, clarity is key. 🧠 Our innovative textarea empowers you to focus by automatically clearing your thoughts when you pause. Say goodbye to cluttered ideas and hello to streamlined creativity! 🌟 Embrace the freedom of expression and let your words flow without hesitation. ✍️ Experience the art of simplicity—type, pause, and refresh your canvas effortlessly! 🎨</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{url_for('writing')}}" type="button" class="btn btn-primary btn-lg px-4 gap-3">Start Writing</a>
            <a href="{{url_for('danger_writing')}}" type="button" class="btn btn-danger btn-lg px-4">Danger Writing Mode</a>
          </div>
        </div>
        </div>
    </div>
{% include 'footer.html' %}
